/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Kanit:ital,wght@0,300;1,100&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Kanit', sans-serif;
}

#nav {
    background-color: lightgray;
    font-size: 1.0rem;
    padding: 2% 2% 2% 2%;
}

#nav a {
    text-decoration: none; /*takes out underlines*/
    color: inherit;
}

#nav ul {
    list-style-type: none; /*takesout bullet points*/
}

#menu {
    font-size: 100%;
}

#logo {
    color: inherit;
    font-size: 120%;
    letter-spacing: 4px;
    list-style-type: none;
    text-transform: uppercase;
}
/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
}

#header {
    max-width: 100%;
    background-color: #1C2452;
}
    
.hero {
   width: 100%;
}

#intro {
    max-width: 100%;
    padding: 12px 10% 12px 10%;
    text-align: center;
    background-color: lightgray; 
}

#one {
    color: blue;
}

#two {
    color: black;
}

#three {
    color: #64450ac0;
}

#four {
    color: #c73a25;
}

#five {
    color: #328332;
}
/*About us */
.aboutuscontactus {
    background-color: #0e2b52;
    color: white;
}

#about {
    padding: 12px 10% 12px 10%; 
    text-align: left;    
    background-color: #0e2b52;
    color: white;
}

#what-we-do {
    padding: 12px 10% 12px 10%; 
    text-align: center;    
}
#list {
    justify-content: left;
    list-style-position: inside;   
}

li {
    text-align: left;
}

#timetable {
    padding: 12px 10% 12px 10%; 
    text-align: left;
    background-color: #0e2b52;
    color: white;
} 

#table {
    text-align: left;
    font-size: 100%;
}
/*styling the table*/
th, td { 
    padding: 2px;
    text-align: left;
    border-bottom: 1px solid white;
}
    /* Sign up */
#signup {
    color: black;
    background-color: lightgray;
    padding: 10px 10% 0 10%; 
    justify-content: space-evenly;
    display: flex;
    text-align: center;
}

#buttons {
    padding: 20px 10% 20px 10%; 
}

.radiobuttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#contactus {
    padding: 10px 10% 10px 10%; 
    justify-content: space-evenly;
    text-align: center;
}
/* Footer */
footer {
    color: black;
    background-color: lightgray;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: black;
}

#copyright {
    text-align: center;
    padding: 20px 0;
} 
/* Media queries */
@media screen and (min-width: 768px) {
    #nav {
        height: 60px;
    }

    #nav ul {
        display: flex;
        padding-left: 1rem;
        justify-content: space-evenly;
        list-style-type: none;
    }

    #logo {
        flex-grow: 1;
    }

    #menu {
        letter-spacing: 4px;
    }

    #menu > li {
        padding-left: 1rem;
    }
/* header */
#header {
    display: flex;
}
        #hero {
            width: 50%;
            background-color: inherit;
        }
       
        #intro {
            width: 50%;
            font-size: 90%;
        }

#onoffer {
    display: flex;
}

#about {
 width: 50%;
 font-size: 80%;
}

#list {
    width: 140%;
    font-size: 130%;
}
#timetable {
    width: 50%;
    font-size: 100%;
}

#table {
    text-align: left;
}

}

@media screen and (min-width: 992px) {
            #intro {
                font-size: 150%;
            }
        }

        #signup {
            padding: 10px 20% 0 20%; 
        }

        @media screen and (min-width: 1920px) {
            #intro {
                font-size: 220%;
            }
        }            