/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Kanit:ital,wght@0,300;1,100&display=swap');

/* General styles */
body {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Kanit', sans-serif;
}

#nav {
    background-color: lightgray;
    font-size: 1.0rem;
    
}

#nav a {
    text-decoration: none;
    color: inherit;
}

#nav ul {
    list-style-type: none;
}

#logo {
    color: inherit;
    font-size: 150%;
    letter-spacing: 4px;
    list-style-type: none;
    text-transform: uppercase;
}
    
#menu {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
}



/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
}

#header {
    max-width: 100%;
    background-color: lightgray;
}

#intro {
    max-width: 100%;
    text-align: center;
    background-color: lightgray;
    /*padding: 10px 10% 10px 10%; */
}

#one {
    color: blue;
}

#two {
    color: black;
}

#three {
    color: #FF5F1F;
}

#four {
    color: #FF2400;
}

#five {
    color: purple;
}

/*
#hero {
    position: relative;
}
    */
    
.hero {
    width: 100%;
}

#intro {
    background-color: inherit;
    color: black;
    /*position: relative;*/
    text-align: center;
    
}

/*About us */

.aboutuscontactus {
    background-color: #1877F2;
    color: white;
}

#about {
    padding: 10px 10% 10px 10%; 
    text-align: center;
    
}



.list {
    
    list-style-type: none;
}

li {
    list-style-type: none;
    text-align: left;
}


#timetable {
    text-align: left;  
} 

#table {
    text-align: center;
    font-size: 73%;
}

#table>h3 {
    text-align: left;
}

.times {
    text-align: left;
}
    /* Sign up */
.signup {
    color: black;
}

#signup {
   color: black;
    background-color: lightgray;
    padding: 10px 10% 10% 10%; 
    justify-content: space-evenly;
    display: flex;
    text-align: center;
}

#signup>h2 {
    color: blue;
    margin-bottom: 20px;
}

.radiobuttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*
.send-button {
    color: gold;
    background-color: blue;
}

.reset-button {
    color: gold;
    background-color: blue;
}
*/

#contactus {
    padding: 10px 10% 10px 10%; 
    justify-content: space-evenly;
    text-align: center;
    
}

/* Footer */

footer {
    color: black;
    background-color: lightgray;
}



#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: black;
}

#copyright {
    text-align: center;
    padding: 20px 0;
} 

/* Media queries */
@media screen and (min-width: 768px) {
    
    #nav {
        height: 60px;
    }

    #nav ul {
        display: flex;
        padding-left: 1rem;
        justify-content: space-evenly;
        list-style-type: none;
    }

    
    #logo {
        flex-grow: 1;
    }

    #menu {
        letter-spacing: 4px;
    }

    
    
/* header */

#header {
    display: flex;
}

        #hero {
            width: 50%;
        }
        
        #intro {
            color: inherit;
            /*text-align: center;*/
            width: 50%;
            font-size: 69%;
            margin-top: 0%
        }


        li {
            display: inline-flex;
            margin-right: 20px;
            }


#timetable {
    font-size: 110%;
    
}

#table {
    text-align: center;
}

}

/* Media queries 
@media screen and (min-width: 992px) {

    #intro {
        color: inherit;
        text-align: center;
        width: 50%;
        font-size: 160%;
        margin-top: 2%
    }
}

*/