/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Kanit:ital,wght@0,300;1,100&display=swap');

/* General styles */
body {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Kanit', sans-serif;
}

#nav {
    background-color: lightgray;
    font-size: 1.0rem;
}



#logo {
    font-size: 150%;
    letter-spacing: 4px;
    list-style-type: none;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
}

#header {
    background-color: aqua;
    padding: 10px 10% 10px 10%; 
    text-align: center;
}

#hero {
    position: relative;
    text-align: center;
}

#about {
    background-color: lightcoral;
    padding: 10px 10% 10px 10%; 
    text-align: center;
}



#signup {
    background-color: lightblue;
    padding: 10px 10% 10px 10%; 
    justify-content: space-evenly;
    display: flex;
    text-align: center;
}

#signup>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.radiobuttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#contactus {
    background-color: lightsalmon;
    padding: 10px 10% 10px 10%; 
    justify-content: space-evenly;
    text-align: center;
    
}


/* Footer */

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#copyright {
    text-align: center;
    padding: 20px 0;
} 

/* Media queries */
@media screen and (min-width: 768px) {
    
    #nav {
        height: 40px;
    }

    #nav ul {
        display: flex;
        padding-left: 1rem;
    }

    #logo {
        flex-grow: 1;
    }
    
}
